/* Global Styles */
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f9;
      color: #141514;
    }
    * {
      box-sizing: border-box;
    }

    /* Navigation Bar */
    nav {
      background-color: rgb(0, 29, 246);
      padding: 15px 0;
      position: sticky;
      top: 0px;
      z-index: 100;
      opacity: 100%;
      overflow: hidden;

    }
    nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-right: 40px;
    }
    nav ul li {
      margin: 0 20px;
    }
    nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      float: left;
    }
    nav ul li a:hover {
      color: #ff7b00;
    }
  
    .dark-mode {
      background-color: #121212;
      color: white;
    }
    






    /* Header Section */
    header {
      text-align: center;
      padding: 90px 10px;
      background-color: #030303;
      color: #fff;
      height: 30vh;
      padding-top: 140px;
    }
    header h1 {
      font-size: 50px;
      margin: 0;
    }
    header p {
      font-size: 18px;
      margin: 10px 0;
    }

   
  



    /* About Section */
    #about {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 20px;
      background-color: #f7f9f7;
      flex-direction: column;
      height: 130vh;
    }
      
    #about {
      background: rgb(251, 251, 251);
      animation : about 9s infinite;
    }


    
    @keyframes about {
      from {background-color: rgb(161, 2, 182);}
      to {background-color: rgb(5, 247, 62);}
      to {background-color: #f06969;}

    }








    #about img {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      object-fit: contain;
      margin-bottom: 10px;
      border-color: #4646ea;
      border-width: 30px;
      box-shadow: 2px 10px 110px  rgb(255, 254, 254);
  }
   
   #about img:hover {
    transform: translatey(6%);
    transition: 0.2s;
   }







    #about h2 {
      font-size: 30px;
      color: #fbf7f7;
    }
    #about p{
      font-size: 16px;
      color: #f5f3f3;
      max-width: 800px;
      text-align: center;
      padding-top: 5px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
    }


    .btn-resume {
      color: rgb(249, 249, 252);
      font-weight: bolder;
      background-color: rgb(4, 46, 252);
      padding: 15px 20px;
      margin: 4px 2px;
      border-radius: 10px;
      transition: box-shadow 0.9s ease-in-out;
      border-color: rgb(6, 234, 3);
      text-align: center;
      padding: 10px;
      background-position-x: bottom;
      text-decoration: dashed;
      transition-duration: 0.4sec;

    }

    .btn-resume:hover {
      color: rgb(249, 249, 249);
      background-color: #ff6804fe;
    }



    


















    /* Portfolio Section */
    #portfolio {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px 20px;
      background-color: #ca67fc;
      height: min-content;

    }


    .portfolio-item {
      width: 300px;
      margin: 15px;
      background-color: #ffffff;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      height: 80vh;
      box-shadow: 0 0 60px rgb(0, 0, 0);
      

    }


    .portfolio-item img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }


    .portfolio-item h3 {
      padding: 15px;
      font-size: 20px;
      margin: 0;
      background-color: #ff3700;
      color: #fff;
    }


    .portfolio-item p {
      padding: 15px;
      font-size: 16px;
      color: #180d05;
    }
      .para-1 {
        margin: 0px 100px;
      }


   .btn {
    color: rgb(249, 249, 252);
    font-weight: bolder;
    padding: 15px 20px;
    margin: 4px 2px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    border-color: rgb(6, 234, 3);
    text-align: center;
    padding: 10px;
    background-position-x: bottom;
    margin-left: 90px;
    box-shadow: black 0 0 10px;
   
    }
    

   .btn:hover {
    background-color: #ff7300;
   }
   

   #portfolio {
    border-width: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

   }


   /* Skills */
  

.container{
 margin-top: 30px;
}

.card:hover {
  box-shadow: black 0 0 30px;
  background-color: rgb(255, 115, 0);
}

.card {
  box-shadow: #ca67fc;
}



.container .card h1{
    text-align: center;
}
.container .card p{
    text-align: center;
    padding: 5px;
}
.container .card{
    border-radius: 20px;
    width: 80%;
    height: 95%;
}

.container .card:hover {
  box-shadow: #141514;
}












@media screen and (max-width: 480px) {
    .container .card{
        margin-top: 10px;
    }
}

@media screen and (max-width: 800px) {
  .container .card {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}





 /* Contact Section */
    #contact {
      padding: 40px 20px;
      background-color: #333;
      color: #ffffff;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      height: 80vh;
      padding-top: 60px;
      margin-top: 40px;
      
    }




    .contact-form :hover {
       border: 2px solid rgb(219, 118, 3);
    }







    #contact h2 {
      font-size: 30px;
      text-align: center;
      margin-bottom: 30px;
    }
    .contact-form {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
    }
    .contact-form input,
    .contact-form textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .contact-form button {
      background-color: #000000;
      color: #fefeff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      
    }
    .contact-form button:hover {
      background-color: #0307f9;
    
    }

    .contact-form {
      box-shadow: 0 0 160px rgb(2, 81, 250);
    }

   







    /* Footer */

    footer {
      background-color: #000000;
      color: #ffffff;
      text-align: center;
      padding: 20px;
    }


    /* Media Queries */
    @media (max-width: 768px) {
      nav ul {
        flex-direction:column;
      }
      #portfolio {
        flex-direction: column;
      }
      .portfolio-item {
        width: 90%;
      }
    }


    /* footer */

    .foot ul{
      list-style: none;
      display: flex;
      justify-content: center;
      
    }
    .foot ul li{
      padding: 10px;
      border: 2px solid #ffff;
      border-radius: 50px;
      justify-content: space-between;
      margin-left: 10px;
      font-size: 15px;
      background-color: white;
    }
    .foot ul li .fa-square-instagram{
      color: #F56040;
      padding: 6px;
      
    }

    .foot ul li .fa-youtube{
      color: #FF0000;
      padding: 6px;
      
    }

    .foot ul li .fa-facebook{
      color: #497ff3;
      padding: 6px;
      
    }


